//Fonts
@import 'https://fonts.googleapis.com/css?family=Lato:300,700|Open+Sans:400,600|Raleway:300,600|Roboto:300,500';

$headFont: Roboto, "Helvetica Neue", Helvetica, sans-serif;
$bodyFont: "Raleway", "Helvetica Neue", Helvetica, sans-serif;
$navFont: "Lato", "Helvetica Neue", Helvetica, sans-serif;

//Colors

$orange: #EA6045;
$yellow: #F8CA4D;
$beige: #F5E5C0;
$blue: #354F66;
$darkBlue: #292D36;
$black: #000000;
$white: #FFFFFF;
$pink: #B60059;
$green: #4F9C27;
$opt-green: #6C6E58;
$opt-darkGreen: #3E423A;
$opt-darkBlue: #417378;
$opt-blue: #A4CFBE;
$opt-beige: #F4F7D9;


$bgColor: $yellow;
$defColor: $white;
$navBgColor: $white;
$navColor: $opt-darkGreen;
$linkBgHover: $opt-darkBlue;
$linkHover: $opt-blue;
$xColor: $black;
$xHover: $opt-blue;


$tiny: 400px;
$small: 650px;
$medium: 960px;
$large: 1200px;







